/* Stop libc++ headers upsetting the preprocessor used by RC. */
#ifndef _MSC_VER
#define _MSC_VER 1926
#define __clang_vadefs_h
#endif

#include <winuser.h>

#define APP_MANIFEST 1
APP_MANIFEST  RT_MANIFEST  "nt4-exe-test.manifest"
